textarea {
    grid-row: 1;
    grid-column: 1;
    background-color: rgb(233, 231, 231);
    border: 1px solid #999;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 8px;
    width: 90%;
    float: left;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    resize: none;
    line-height: 15px;
    height: 10px;
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: inset 2px 2px 2px 0px #c7c6c6;
}
/* 
h4 {
    display: block;
    position: absolute;
    margin-top: 1px;
} */

.res {
    /* float: right; */
    /* margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px; */
    grid-column: 1;
    grid-row: 1;
}

.main-block {
    /* vertical-align: top; */
    overflow: auto;
    margin-top: 100px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    margin-left: 40px;
    margin-right: 40px;
    min-height: 60px;
    box-shadow: inset 2px 2px 2px 0px #d3d0d0;
}

.codediv {
    display: grid;
}