textarea {
    background-color: rgb(233, 231, 231);
    border: 1px solid #999;
    display: block;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 8px;
    width: 90%;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
    line-height: 15px;
    height: 10px;
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
}
/* 
h4 {
    display: block;
    position: absolute;
    margin-top: 1px;
} */

.res {
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-block {
    /* vertical-align: top; */
    overflow: auto;
    margin-top: 100px;
    padding: 30px;
    background-color: rgb(245, 240, 240);
    margin-left: 40px;
    margin-right: 40px;
    min-height: 60px;
}